body *{
  font-family:  'Open Sans', sans-serif;
}

h1 {
  font-weight: 1000;
  text-align: center;
}

body {
  background-color: lightgray;
}

.page {
  width: 1000px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
}

.vis-container {
  width: 90%;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 10px;
  text-align: "center";
}

.description-left {
  padding-right: 10px;
  text-align: "center"
}

.pure-g {
  margin-bottom: 20px;
}

.small-font {
  font-size: 14px;
}